<div class="d-flex justify-content-center">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmitNewPassword()" class="container">
    <label for="form">{{ 'reset-password.confirm' | translate }}</label>
    <fieldset formGroupName="passwordGroup">
      <div class="container form-group">
        <label for="password">{{ 'user.password' | translate }}</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              form.controls['passwordGroup'].get('password').errors &&
              (form.controls['passwordGroup'].get('password').dirty || form.controls['passwordGroup'].get('password').touched)
          }"
        />
        <div
          *ngIf="
            form.controls['passwordGroup'].get('password').errors &&
            (form.controls['passwordGroup'].get('password').dirty || form.controls['passwordGroup'].get('password').touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="form.controls['passwordGroup'].get('password').errors['required']">
            {{ 'user.passwordAlert' | translate }}
          </div>
        </div>
      </div>
      <div class="container form-group">
        <label for="passwordConfirm">{{ 'user.passwordConfirm' | translate }}</label>
        <input
          type="password"
          formControlName="passwordConfirm"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (form.controls['passwordGroup'].get('passwordConfirm').errors || form.controls['passwordGroup'].errors) &&
              (form.controls['passwordGroup'].get('passwordConfirm').dirty || form.controls['passwordGroup'].get('passwordConfirm').touched)
          }"
        />
        <div
          *ngIf="
            (form.controls['passwordGroup'].get('passwordConfirm').errors || form.controls['passwordGroup'].errors) &&
            (form.controls['passwordGroup'].get('passwordConfirm').dirty || form.controls['passwordGroup'].get('passwordConfirm').touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="form.controls['passwordGroup'].get('passwordConfirm').errors || form.controls['passwordGroup'].errors">
            {{ 'user.passwordConfirmAlert' | translate }}
          </div>
        </div>
      </div>
    </fieldset>
    <div class="container form-group">
      <button type="submit" [disabled]="form.invalid">
        {{ 'reset-password.newPassword' | translate }}
      </button>
      <button type="reset" [disabled]="form.pristine" (click)="form.reset()">
        {{ 'user.resetButton' | translate }}
      </button>
    </div>
  </form>
</div>
